<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        <a
          [routerLink]="['/']"
          class="btn btn-outline-primary mr-3"
          role="button"
        >
          <i class="fas fa-arrow-left"></i
        ></a>

        Trabajo actual
      </h1>
      <hr />
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h3>{{ transcurrido }}</h3>
          <span class="text-muted">Transcurrido</span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <input
              [(ngModel)]="periodoActual.proyecto"
              class="form-control"
              type="text"
              list="proyectos"
            />
            <datalist id="proyectos">
              <option
                *ngFor="let proyecto of proyectos"
                [value]="proyecto"
              ></option>
            </datalist>
            <small class="form-text text-muted">Proyecto</small>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <input
              [(ngModel)]="periodoActual.cliente"
              class="form-control"
              type="text"
              list="clientes"
            />
            <datalist id="clientes">
              <option *ngFor="let item of clientes" [value]="item"></option>
            </datalist>
            <small class="form-text text-muted">Cliente</small>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <input
              [(ngModel)]="periodoActual.estatus"
              class="form-control"
              type="text"
              list="estatus"
            />
            <datalist id="estatus">
              <option *ngFor="let item of estatus" [value]="item"></option>
            </datalist>
            <small class="form-text text-muted">Estatus</small>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <textarea
              [(ngModel)]="periodoActual.observaciones"
              class="form-control"
              rows="3"
            ></textarea>
            <small class="form-text text-muted">Observaciones</small>
          </div>
        </div>

        <div class="col-12">
          <hr />
          <button (click)="save()" type="button" class="btn btn-primary">
            <i class="fas fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-body">
          <h3>Filtros</h3>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.cliente"
                  class="form-control"
                  name="clientes"
                >
                  <option></option>
                  <option *ngFor="let item of clientes">{{ item }}</option>
                </select>
                <small class="form-text text-muted">Cliente</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.proyecto"
                  class="form-control"
                  name="proyectos"
                >
                  <option></option>
                  <option *ngFor="let item of proyectos">{{ item }}</option>
                </select>
                <small class="form-text text-muted">Proyecto</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.estatus"
                  class="form-control"
                  name="estatus"
                >
                  <option></option>
                  <option *ngFor="let item of estatus">{{ item }}</option>
                </select>
                <small class="form-text text-muted">Estatus</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.dia"
                  type="text"
                  class="form-control"
                />
                <small id="helpId" class="form-text text-muted">Día</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.mes"
                  type="text"
                  class="form-control"
                />
                <small id="helpId" class="form-text text-muted">Mes</small>
              </div>
            </div>

            <pre>{{filtros | json}}</pre>

            <div class="col-12 mt-5">
              <h3>Total de horas: <b>99:99:00</b></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <app-periodo [periodos]="periodos"></app-periodo>
</div>
