<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        <a
          [routerLink]="['/']"
          class="btn btn-outline-primary mr-3"
          role="button"
        >
          <i class="fas fa-arrow-left"></i
        ></a>

        Trabajo actual
      </h1>
      <hr />
    </div>

    <div *ngIf="periodoActual" class="col-12">
      <div class="row">
        <div class="col-12">
          <span class="text-muted">Transcurrido</span>
          <h3>{{ transcurrido }}</h3>
        </div>

        <hr />
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <small class="form-text text-muted">Inicio</small>

            <input
              [ngModel]="periodoActual.inicio | date: 'yyyy-MM-ddTHH:mm'"
              class="form-control"
              type="datetime-local"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <small class="form-text text-muted">Fin</small>
            <input
              [ngModel]="periodoActual.fin | date: 'yyyy-MM-ddTHH:mm'"
              (ngModelChange)="periodoActual.fin = $event"
              class="form-control"
              type="datetime-local"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <small class="form-text text-muted">Cliente</small>
            <input
              [(ngModel)]="periodoActual.cliente"
              class="form-control"
              type="text"
              list="clientes"
            />
            <datalist id="clientes">
              <option *ngFor="let item of clientes" [value]="item"></option>
            </datalist>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <small class="form-text text-muted">Estatus</small>
            <input
              [(ngModel)]="periodoActual.estatus"
              class="form-control"
              type="text"
              list="estatus"
            />
            <datalist id="estatus">
              <option *ngFor="let item of estatus" [value]="item"></option>
            </datalist>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group">
            <small class="form-text text-muted">Observaciones</small>
            <textarea
              [(ngModel)]="periodoActual.observaciones"
              class="form-control"
              rows="3"
            ></textarea>
          </div>
        </div>

        <div class="col-12 text-end">
          <hr />
          <a
            (click)="save()"
            class="btn btn-primary me-3"
            href="javascript:void(0)"
          >
            <i class="fas fa-save"></i> Guardar
          </a>

          <a
            (click)="delete()"
            class="btn btn-danger"
            href="javascript:void(0)"
          >
            <i class="fas fa-times"></i> Eliminar
          </a>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-body">
          <h3>Filtros</h3>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.cliente"
                  class="form-control"
                  name="clientes"
                >
                  <option></option>
                  <option *ngFor="let item of clientes">{{ item }}</option>
                </select>
                <small class="form-text text-muted">Cliente</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.proyecto"
                  class="form-control"
                  name="proyectos"
                >
                  <option></option>
                  <option *ngFor="let item of proyectos">{{ item }}</option>
                </select>
                <small class="form-text text-muted">Proyecto</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <select
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.estatus"
                  class="form-control"
                  name="estatus"
                >
                  <option></option>
                  <option *ngFor="let item of estatus">{{ item }}</option>
                </select>
                <small class="form-text text-muted">Estatus</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.inicio_dia"
                  type="text"
                  class="form-control"
                />
                <small id="helpId" class="form-text text-muted"
                  >Inicio día</small
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.inicio_mes"
                  type="text"
                  class="form-control"
                />
                <small id="helpId" class="form-text text-muted"
                  >Inicio mes</small
                >
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.fin_dia"
                  type="text"
                  class="form-control"
                />
                <small id="helpId" class="form-text text-muted">Fin día</small>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <input
                  (change)="obtenerTodosLosPeriodos()"
                  [(ngModel)]="filtros.fin_mes"
                  type="text"
                  class="form-control"
                />
                <small id="helpId" class="form-text text-muted">Fin mes</small>
              </div>
            </div>

            <div class="col-12 mt-5">
              <h3>
                Total de horas: <b>{{ totalHoras }}</b>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <app-periodo
    [periodos]="periodos"
    (seleccionado)="editarPeriodo($event)"
  ></app-periodo>
</div>
