* {
  font-family: "Montserrat", sans-serif;
}


body.cronometro {
  min-height: 100vh;
}

body.cronometro_color {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}
